<!-- <h2 class="text-center">Database Comparision</h2> -->
<div  *ngIf="frmValid" class="alert alert-danger">
    <div *ngIf="frmValid">
        <div *ngFor="let error of errorMessage">{{error}}</div>
    </div>
</div>
<form>
    <div class="container">
        <div class="form-group row ">
            <div class="col-sm-2">
                <h4>Source File</h4>
                <input type="file" class="file-upload" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" placeholder="Upload Source File" (change)="onSourceChange($event)" #inputSource/> 
            </div>
            <div class="col-sm-8">
                <h4>Destination File</h4>
                <input type="file" class="file-upload" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" placeholder="Upload Source File" (change)="onDistChange($event)" #inputDest/>                
            </div>
            
            <span *ngIf="spinnerEnabled">Loading.....
                <div class="spinner"></div>
            </span>
            <div class="col-sm-1">
                <button type="button" class="btn btn-success" (click)="onStart()" [disabled]="spinnerEnabled">Start</button>
            </div>
            <div class="col-sm-1">
                <button type="reset" class="btn btn-danger"  (click)="reset()">Abort</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-2">
                <span *ngIf="Sread">
                    <select  class="form-control" (change)="onSourceSheet($event)">
                      <option value="**">Select Sheet</option>
                      <option *ngFor="let web of SourceSheetlist" [value]="web">{{web}}</option>
                    </select>
                </span>
                <div *ngIf="isSourceExcelFile === false">
                    Source file is not an Excel file
                  </div>
            </div>
            <div class="col-sm-2">
                <span *ngIf="Dread">
                    <select  class="form-control" (change)="onDistSheet($event)">
                      <option value="**">Select Sheet</option>
                      <option *ngFor="let web of DistSheetlist" [value]="web">{{web}}</option>
                    </select>
                  </span>
                  
                  <div *ngIf="isDistExcelFile === false">
                    Destination file is not an Excel file
                  </div>
            </div>
        </div>
    </div>
    
    <div class="container cont">
        <div class="form-group row">
            <label>Perfom Column Mapping</label>
            <div>
                <div class="col-sm-2">
                    <div class="flex-container ex1">
                        <div class="flex-child magenta">
                            
                            <div><b>Source Column</b></div>
                          <div cdkDropList class="example-list  " (cdkDropListDropped)="drop($event)">
                              <table>
                                  <tr class="example-box" *ngFor="let items of ApiData.SourceCol" cdkDrag [cdkDragDisabled]="true">
                                      <td style="color: black;">
                                        {{items}}
                                      </td>
                                  </tr>
                              </table>
                            <!-- <div class="example-box" *ngFor="let items of Sourcekeys" cdkDrag [cdkDragDisabled]="true">{{items}}</div> -->
                          </div>
                        </div>
                          <button type="button" class="btn btn-success btns" (click)="onPush('S')" >Push Null to Source</button>
                          <button type="button" class="btn btn-primary btns" (click)="onRemove('S')">Remove Null from Source</button>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <div class="flex-container ex2">
                    <div class="flex-child green">
                        <div><b>Destination Column</b></div>
                        <div cdkDropList class="example-list " (cdkDropListDropped)="drop($event)">
                            <table>
                                <tr class="example-box" *ngFor="let items of ApiData.DestCol" cdkDrag>
                                    <td style="color: black;">
                                        {{items}}
                                    </td>
                                </tr>
                            </table>
                          <!-- <div class="example-box" *ngFor="let items of DistKeys" cdkDrag >{{items}}</div> -->
                        </div>
                      </div>
                      <button type="button" class="btn btn-success btns" (click)="onPush('D')" >Push Null to Destination</button>
                      <button type="button" class="btn btn-primary btns" (click)="onRemove('D')">Remove Null from Destination</button>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-1"></div>
                <div class="col-sm-2 vl">
                     <div class="flex-container ex1">
                         <strong>Select the Unique Keys</strong>
                         <div class="flex-child magenta ">
                                 <table>
                                     <tr  *ngFor="let items of ApiData.SourceCol">
                                         <td >
                                             <button type="button" class="btn btn-secondary btn-block" data-toggle="button" 
                                   aria-pressed="false" autocomplete="off"  (click)="OnAddUnqine(items)">
                                         {{items}}
                                     </button>
                                         </td>
                                     </tr>
                                 </table>
                             <!-- <div class="example-box" *ngFor="let items of Sourcekeys" cdkDrag [cdkDragDisabled]="true">{{items}}</div> -->
                         </div>
                     </div>
                 </div>
                 <div class="col-sm-1"></div>
                 <div class="col-sm-2">
                     <div class="flex-container ex2">
                         <div class="flex-child green">
                             <strong>Selected Unique Keys</strong>
                                 <table>
                                     <tr class="example-box" *ngFor="let items of ApiData.UniqueKeys">
                                         <td >
                                             <button type="button" class="btn btn-light btn-block" data-toggle="button" 
                                   aria-pressed="false" autocomplete="off"  (click)="OnRemoveUnqine(items)">
                                         {{items}}
                                     </button>
                                         </td>
                                     </tr>
                                 </table>
                         </div>
                     </div>
                 </div>
             </div>
    </div>
    <div class="container">
        <div class="form-group row">
            <div class="col-sm-6">
                <strong class="text-center">Select Flag or Boolean Variables if any</strong>
                <dual-list [source]="ApiData.SourceCol" [(destination)]="ApiData.FlagVariable"  height="200px"></dual-list>
            </div>
            <div class="col-sm-4">
                <label class="text-center">Select the Rules you like to perform</label>
                <div class="form-check" *ngFor="let Rule of RuleList">
                    <input type="checkbox" class="form-check-input" [id]="Rule" [value]="Rule" [name]="Rule" (change)="onCheckboxChange($event)"/>
                    <label class="form-check-label">{{Rule}}</label>
                </div>
            </div>      
        </div>
    </div>
    
</form>

