table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 50%;
    border: 2px solid #141313;
    opacity: 1;
  }
  
  td{
    border: 1px solid #0f0d0d;
    text-align: left;
    padding: 4px;
    
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
.cont{
  overflow-y:scroll;
  /* background-color:blanchedalmond;
  border: 2px solid rgb(1, 1, 19); */
  padding-bottom: 30px;   
}
  div.ex1{
      height: 250px;
      /* overflow: scroll; */
  }
  div.ex2{
    height: 250px;
    /* overflow: scroll; */
}

.btns{
  /*padding-bottom: 8px;*/
    margin-bottom: 1rem;
}

/* .vl {
  border-left: 2px solid black;
  height: 400px;
} */


.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
